body{
    background-color:azure;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 70%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}
.datos p{
    display: inline-block;
    margin-left: 3%;
}

.nombre{
    font-size: 25px;
}

nav div{
    display: inline-block;
}

.image{
    margin-left: 350%;
}

.idiomas li{
    text-decoration: none;
    display: inline-block;
    margin-left: 20%;
}
